$primary-background: #F1FFFE;
$secondary-background: #A9CECB;
$primary-text: #001C30;
$secondary-text: #1C5B70;
$delete-button-color: #DD2D2D;
$modal-background: rgba(0,28,48,0.5);
$font: 'Urbanist';
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1400px;
$shadow: 12px 12px 25px 7px rgba(81, 81, 81, 0.26);
$open: rgb(60, 205, 60);
$link-color: rgba(20, 120, 237, 0.86);