@use '../../styles/mixins' as*;
@use '../../styles/variables' as*;


.input {
    width: 17.6875rem;
    padding: 1rem;
    background: $secondary-background;
    border:none;
    outline: none;
    border-radius:10px;
    
    &::placeholder{
        margin:0;
        @include font($size:1rem, $color: $secondary-text);
        @include desktop {
            @include font($size:1.2rem, $color: $secondary-text);
        }
        letter-spacing: 3.6px;
    }
    &--dark {
        background:$primary-text;
        border: 1px solid $primary-background;
        &::placeholder{
            color: $primary-background;
        }
    }
    @include desktop {
        width: 24.1875rem;
        padding: 1.25rem;
        margin-bottom: 2.25rem;
    }
}