@use '../../styles/mixins' as*;
@use '../../styles/variables' as*;


.input {
    width: 24.1875rem;
    padding: 1.25rem;
    background: $secondary-background;
    border:none;
    outline: none;
    border-radius:10px;
    margin-bottom: 2.25rem;
    &::placeholder{
        margin:0;
        @include font($size:1.2rem, $color: $secondary-text);
        letter-spacing: 3.6px;
    }
}