@use '../styles/mixins' as *;
@use '../styles/variables' as *;



.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    width:100vw;
    &__title{
        @include font($size: 5.5rem, $weight: 600, $color: $primary-text);
        margin:0;
    }
    &__instructions {
        @include font($size: 2rem, $weight: 600, $color:$primary-text);
        margin-top:4rem;
        margin-bottom:4rem;
    }
    &__form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 32px;
        box-shadow: $shadow;
        padding:3.875rem 3.125rem;       
        width: 31.25rem;
        height: 25rem;
        justify-content: space-between;
        &--signup {
            width:56.25rem;
            height: 37.5rem;
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        row-gap: 4.5rem;
        
    }
    &__input {
        width: 25rem;
    }
    &__cta  {
        font-weight:400;
        letter-spacing: 3.52px;
        font-size: 1rem;
        width: 8.5rem;
        height: 2.75rem;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:88%;
    }
    &__link {
        text-decoration: none;
        color:$link-color;
        text-transform: uppercase;
        font-weight: 600;
    }
    &__signup {
        @include font($size: 1.25rem, $weight:400, $color:$primary-text);
    }
    &__signup-form {
        display: flex;
        flex-direction: column;
        
        width:100%;
    }
    &__upper-section {
        display: flex;
       
    }
    &__left-section {
        display: flex;
        flex-direction :column;
        
    }
    &__right-section {
        margin-left: 3rem;
        display: flex;
        flex-direction:column;
    }
    &__user-pic-placeholder{
        width: 15rem;
        height: 12.5rem;
        border-radius: 10px;
        box-shadow: $shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    &__upload-instructions {
        margin:0;
    }
    &__upload-buttons{
        align-self: flex-end;
        display: flex;
        column-gap:2rem;
        margin-left:7rem;
    }
    &__cancel-cta{
        background:none;
        color:$primary-text;
        font-weight:400;

    }
    &__buttons{
        margin-top: 8rem;
    }
    &__password-match {
        color:red;
    }

    &__user-pic {
        width: 15rem;
        height: 12.5rem;
        border-radius: 10px;
        box-shadow: $shadow;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}
