@use '../styles/mixins' as *;
@use '../styles/variables' as *;



.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    width:100vw;
    &__title{
        @include font($size: 2rem, $weight: 600, $color: $primary-text);
        margin:0;
        text-align: center;
        @include desktop{
            @include font($size: 5.5rem, $weight: 600, $color: $primary-text);
        }
    }
    &__instructions {
        @include font($size: 1.25rem, $weight: 600, $color:$primary-text);
        margin-top:4rem;
        margin-bottom:4rem;
        @include desktop{
            @include font($size: 2rem, $weight: 600, $color:$primary-text);
        }
    }
    &__form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        box-shadow: $shadow;
        padding:3.875rem 3.125rem;       
        width: 60%;
        justify-content: space-between;
        &--signup {
            @include desktop {
                width:56.25rem;
                height: 27.5rem;
            }
            
        }
        @include desktop {
            // width: 31.25rem;
            border-radius: 32px;
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        row-gap: 4.5rem;
        
    }
    &__input {
        width: 25rem;
    }
    &__cta  {
        font-weight:400;
        letter-spacing: 3.52px;
        font-size: 1rem;
        width: 100%;
        height: 2.75rem;
        @include desktop{
            width: 8.5rem;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        width:100%;
        @include desktop {
            flex-direction: row;
            width:88%;
        }
        
    }
    &__link {
        text-decoration: none;
        color:$link-color;
        text-transform: uppercase;
        font-weight: 600;
    }
    &__signup {
        @include font($size: 1.25rem, $weight:400, $color:$primary-text);
    }
    &__signup-form {
        display: flex;
        flex-direction: column;
        @include desktop {
            width:100%;
        }
    }
    &__upper-section {
        display: flex;
        flex-direction: column;
       @include desktop {
            flex-direction: row;
       }
    }
    &__left-section {
        display: flex;
        flex-direction :column;
        row-gap: 3rem;
        @include desktop {
            row-gap: 0;
        }
    }
    &__right-section {
        
        display: flex;
        flex-direction:column;
        align-items: center;
        padding-top: 3rem;
        @include desktop {
            margin-left: 3rem;
            align-items: flex-start;
            padding-top: 0;
        }
    }
    &__user-pic-placeholder{
        width: 15rem;
        height: 12.5rem;
        border-radius: 10px;
        box-shadow: $shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    &__upload-instructions {
        margin:0;
    }
    &__upload-buttons{
        align-self: center;
        display: flex;
        column-gap:2rem;
        margin-bottom: 3rem;
        @include desktop {
            margin-left:6rem;
            align-self: flex-end;
            margin-bottom: 0;
        }
    }
    &__cancel-cta{
        background:none;
        color:$primary-text;
        font-weight:400;

    }
    // &__buttons{
    //     margin-top: 8rem;
    // }
    &__password-match {
        color:red;
    }

    &__user-pic {
        width: 15rem;
        height: 12.5rem;
        border-radius: 10px;
        box-shadow: $shadow;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}
