@use '../../styles/mixins' as*;
@use '../../styles/variables' as*;

header{
    background:$secondary-text;
    height:100vh;
    width: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.sidebar {
    padding-top:3.375rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    &__user-pic {
        padding-bottom:2rem;
    }
    &__menu-text {
        @include font($weight: 600, $color:$primary-background);
        text-transform: uppercase;
        margin:0;
        padding-top:0.5rem;
    }
    &__menu-item {
        display: flex;
        flex-direction:column;
        align-items: center;
        padding-bottom:2.5rem;
        cursor:pointer;
    }
}


.dark-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
        @include font($weight:600, $color:$primary-background);
        text-transform: capitalize;
        margin:0;
        padding-bottom:0.5rem;
    }
    &__button {
        border-radius: 50%;
        height:2rem;
        width:2rem;
        background: $primary-text;
        cursor:pointer;
    }
    &__slot {
        width: 4.125rem;
        height: 2rem;
        background: $primary-background;
        border-radius: 32px;
        margin-bottom:1rem;
        display: flex;
        justify-content: flex-end;
    }
}